import React from 'react'
{{#if scss}}
import styles from './{{properCase name}}.scss'
{{/if}}

const {{properCase name}} = ({...props}) =>
  <h1>New component {{properCase name}}</h1>

export default {{properCase name}}
