import React from 'react'
{{#if scss}}
import './{{properCase name}}.css'
{{/if}}

const {{properCase name}} = ({...props}) =>
  <h1>New component {{properCase name}}</h1>

export default {{properCase name}}
